#!/bin/sh

export _JAVA_AWT_WM_NONREPARENTING=1

if [ "$SHELL" = "/usr/bin/zsh" ]; then
    . ~/.zshenv
fi

dunst &

autorandr -c

sxhkd &

setxkbmap -option caps:escape

blueman-applet &

picom --experimental-backends &

set-wallpaper &

parcellite &

nm-applet &

clipster -d &

flameshot &

libinput-gestures &

pasystray &

# redshift &

if [ $(xrandr --query | grep " connected" | wc -l) -gt 2 ]
then
 caffeine -a &
fi
